<style>
    body{
        background-image: url('/wallpapers/black-carbon-fiber-in-4k-qrrlbfjhtfqljz4q.jpg');
    }
</style>


<div class="title" style="align-items: center">
    <h2> Choose your Bikes</h2>
</div>  <br>
<div style="align-items: center">
    @*Aprilia rs racingX*@
    <h5>Aprilia rs racing</h5>
    <div class="image">
        <img src="/bikes/Aprilia rs racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Aprilia RS Racing embodies the essence of Italian speed and engineering excellence. With its sleek and aggressive design, this motorcycle
        racing bike is a statement of uncompromising power and performance. Its aerodynamic fairing and sharp lines suggest a
        unobstructed ride through the air, while the light and agile chassis offers exceptional handling on the most demanding curves.
        Under the hood, beats the heart of a high-performance engine, capable of delivering explosive power that transforms every road into a racing circuit.
        competition. High-quality components and cutting-edge technologies ensure rapid throttle response and precise handling,
        allowing the rider to fully exploit his potential on the road or track. The RS Racing cockpit is designed to offer the driver the
        maximum control, with clear and intuitive instrumentation and a driving position that favors a sporty yet comfortable posture. Every detail,
        from suspension to braking, it has been optimized to deliver an engaging and rewarding driving experience. In summary, the Aprilia RS Racing
        it is much more than just a motorbike: it is an icon of Italian performance, ready to satisfy the needs of the most demanding riders and racing enthusiasts.  
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Aprilia</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Aprilia RSV 1000 R</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>RSV 1000 R 2008</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2008</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportiva</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>997 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>138 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>189 kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>€14.400</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>2</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>V-shaped</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Longitudinal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>-</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>Double camshaft</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*BMW M 1000 RR*@
<div>
    <h5>BMW M 1000 RR</h5>
    <div class="image">
        <img src="/bikes/BMW M 1000 RR.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The BMW M 1000 RR is a high-performance sports motorcycle that embodies the essence of German technology and engineering.
        precision. Designed to offer exceptional performance on both the road and the track, this bike combines raw power,
        agile handling and cutting-edge technologies for an uncompromising driving experience. The beating heart of this
        motorcycle is represented by its high-performance engine, a 999 cc unit that offers an impressive power of 212 HP at
        14,500 rpm and a maximum torque of 113 Nm at 11,000 rpm. Thanks to its in-line four-cylinder configuration,
        fuel injection and double camshaft distribution, this engine offers immediate response to the accelerator and thrust
        constant throughout the entire regime. The frame is constructed with a composite aluminum double beam, ensuring a
        optimal rigidity and low weight for exceptional handling. The fully adjustable suspension offers
        excellent stability and grip when cornering, while the high-performance braking system ensures powerful deceleration and
        progressive. The BMW M 1000 RR is equipped with cutting-edge technologies, including traction control, ride-by-wire, maps
        selectable engine and ABS, which allow the rider to adapt the motorcycle's performance to his or her preferences and needs
        driving conditions. The aggressive and aerodynamic design, enriched by the distinctive livery and high quality details,
        gives the bike an impressive visual presence on the road and track. In conclusion, the BMW M 1000 RR represents the
        perfect combination of exceptional performance, cutting-edge technologies and breathtaking design, offering a driving experience
        exciting and engaging for high-level sports motorcycle enthusiasts.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>BMW</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>M 1000 RR</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>M 1000 RR (2020 - 24)t</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>999 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>212 CV - 156 kW - 14.500 rpm</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>170 kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>€33.950</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>999 cc</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Transverse</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid-cooled</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>Multidisc</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>Twin camshaft</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Ducati Desmosedici 2024*@
<div>
    <h5>Ducati Desmosedici 2024</h5>
    <div class="image">
        <img src="/bikes/Ducati Desmosedici 2024.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The 2024 Ducati Desmosedici is the latest evolution of an epic racing legacy. Born from passion and engineering
        without compromises from Ducati Corse, this racing bike embodies the maximum expression of technology and performance
        on two wheels. Its aggressive, futuristic design captures attention with sharp lines and an aerodynamic fairing that
        suggests an irrepressible power. Every curve and every detail has been optimized to maximize aerodynamic efficiency
        and high-speed stability, while the lightweight and robust chassis offers unrivaled handling. The beating heart of this
        racing car is its Desmosedici engine, a work of engineering art that offers extraordinary power and responsiveness
        immediately on the accelerator. Each component has been designed to withstand the most extreme conditions of racing tracks, delivering
        the rider has total control over every centimeter of the road. The cockpit of the Ducati Desmosedici 2024 is an expression of pure
        functionality, with advanced instrumentation and intuitive controls that allow the rider to concentrate exclusively on driving.
        The adjustable suspension and high-performance brakes ensure optimal grip and powerful braking, enabling the rider
        to explore the limits of his ability on every track. In summary, the 2024 Ducati Desmosedici is much more than a racing bike: it is a
        symbol of prestige and technological dominance, ready to take its driver to victory in every competition.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>Ducati Desmosedici 2024</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>250 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>5.000.000</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1.000 cc</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Ducati Gresini racing*@
<div>
    <h5>Ducati Gresini racing</h5>
    <div class="image">
        <img src="/bikes/Ducati Gresini racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Ducati Gresini Racing is a superb embodiment of power, elegance and performance. Fruit of the collaboration between Ducati, an icon in the world
        of high-performance motorcycles, and the Gresini Racing team, renowned for its expertise and dedication to racing, this bike is destined to dominate
        circuits around the world. Its unique design reflects the winning heritage of both brands, with an aerodynamic fairing that embodies
        the fusion between style and functionality. Every detail has been taken care of with precision, from the dynamic lines to the distinctive coloring, creating a
        image that evokes power and agility. Under the fairing, the Ducati Gresini Racing houses an engine that exudes impressive power, ready to
        speed along the straights and challenge the curves with confidence. Cutting-edge technology and sophisticated engineering ensure prompt response
        at the accelerator and a smooth power distribution, offering the rider an unprecedented driving experience. The light and easy to handle frame
        It offers exceptional stability and precise handling, allowing the rider to tackle every corner with confidence and control. The suspensions
        adjustable brakes and high-quality brakes complete the package, offering impeccable performance on every trail. Overall, the Ducati Gresini
        Racing is much more than just a racing bike: it is a symbol of excellence and determination, ready to take its rider to glory in every race.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>Ducati Gresini racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>250 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>5.000.000</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1.000 cc</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Ducati Pramac*@
<div>
    <h5>Ducati Pramac</h5>
    <div class="image">
        <img src="/bikes/Ducati Pramac.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Ducati Pramac is a creation that combines Italian power and elegance with the determination and competence of the team
        Pramac Racing. The result of the collaboration between two icons of the racing world, this motorcycle embodies the spirit of innovation
        and high-level performance. Its design is a combination of sinuous shapes and aggressive lines, which capture attention
        and suggest unstoppable speed. The aerodynamic fairing is designed to maximize efficiency and stability
        at high speed, while carefully finished details add a touch of refinement. Below the surface, the Ducati Pramac
        it houses an engine that exudes extraordinary power, ready to respond promptly to every call of the accelerator. There
        Its torque and power delivery is balanced to offer an exciting and rewarding driving experience. The frame is built
        to deliver precise handling and exceptional stability, allowing the rider to tackle corners with confidence and
        safety. Adjustable suspension and high-quality brakes complete the package, ensuring flawless performance on
        any type of track. In summary, the Ducati Pramac is much more than a simple racing bike: it is a symbol of determination,
        prestige and passion, ready to take its driver to glory in every competition.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Ducati</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">SetUp</th>
                    <td>Ducati Pramac</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>250 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">Price</th>
                    <td>5.000.000</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1.000 cc</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-info">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Honda rc213v hrc*@
<div>
    <h5>Honda rc213v hrc</h5>
    <div class="image">
        <img src="/bikes/Honda rc213v hrc.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Honda Livery for MotoGP 2024 is a racing motorcycle designed and developed specifically to compete in the
        MotoGP World in the 2024 season. Features an aggressive and aerodynamic design, optimized to maximize speed and
        handling on the track. The motorcycle is powered by a powerful high-performance engine, with a displacement and horsepower
        specifications compliant with championship regulations. The frame is light and sturdy, offering an ideal combination of rigidity
        and flexibility to allow the rider to gain maximum control and adapt to various riding conditions.
        Thanks to its cutting-edge technology, the Honda Livery for MotoGP 2024 is equipped with advanced control systems
        traction, engine management and braking, which allow the rider to maximize performance in every situation. There
        suspension is highly adjustable and offers exceptional ability to absorb track irregularities, ensuring a
        Excellent grip and stability. The bike features a distinctive and eye-catching livery, with the colors and logos of the Honda team
        Racing, reflecting the team's energy and determination to compete at the highest level. Every detail was
        carefully designed and optimized to ensure superior performance and an impressive visual presence on the track.
        In summary, the 2024 Honda Livery for MotoGP represents the embodiment of precision engineering and innovation
        technology in the world of motorcycle racing, ready to challenge the limits and conquer glory in the hands of riders
        talented and determined.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">SetUp</th>
                    <td>Honda rc213v hrc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2023</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>230 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157 kg</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid-cooled</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">StartUp</th>
                    <td>CDI (Capacitor Discharge Ignition)</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Distribution</th>
                    <td>DOHC 4 valves per cylinder</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Honda rc213v motogp lrc*@
<div>
    <h5>Honda rc213v motogp lrc</h5>
    <div class="image">
        <img src="/bikes/Honda rc213v motogp lrc.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Honda RC213V MotoGP LRC is an elite racing motorcycle, designed and developed by Honda Racing Corporation (HRC) to dominate the stage
        of MotoGP. This racing machine embodies the pinnacle of motorcycle engineering and the determination to win at all costs. Its design is
        a fusion of form and function, with an aerodynamic fairing that cuts through the air with elegance and aggression. Every aspect has been optimized for
        maximize high-speed stability and aerodynamic efficiency, while the lightweight and durable chassis offers exceptional handling on
        every type of route. Under the hood, the RC213V MotoGP LRC houses a high-performance racing engine, designed to deliver explosive power
        and an immediate response to the accelerator. Torque delivery has been finely tuned to deliver consistent thrust out of corners and a
        surprising top speed on the straights. The cockpit is a total control environment for the pilot, with an ergonomic layout and instrumentation
        advanced that allows you to monitor every aspect of the motorbike's performance. The suspension and brakes have been designed for grip
        optimal braking and powerful braking, allowing the rider to push hard every time he gets on the saddle. In summary, the Honda RC213V MotoGP LRC is one
        manifestation of Honda's dedication to the pursuit of perfection in motorcycle racing. It's more than just a racing bike; it is an icon of
        performance and success in the world of MotoGP, ready to write new pages of glory at every race.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">SetUp</th>
                    <td>Honda rc213v motogp lrc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2014</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>240 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Distribution</th>
                    <td>DOHC 4 valves per cylindert</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Honda RC213V racing*@
<div>
    <h5>Honda RC213V racing</h5>
    <div class="image">
        <img src="/bikes/Honda RC213V racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Honda RC213V Racing is the quintessential motorcycle competition, a symbol of extreme performance and cutting-edge engineering. Designed
        and developed by Honda Racing Corporation (HRC), this bike embodies the determination to dominate race tracks around the world. Its design is
        a combination of form and function, with an aerodynamic fairing that challenges the air with determination and precision. Every aspect has been optimized for
        maximize high-speed stability and aerodynamic efficiency, while the lightweight and robust chassis offers unparalleled handling on every
        type of circuit. Under the hood, the RC213V Racing houses a high-performance racing engine, designed to deliver impressive power and
        an instant response to the accelerator. Torque delivery has been finely tuned. The cockpit is a total control environment for the rider,
        with an ergonomic layout and advanced instrumentation that allows you to monitor every aspect of the bike's performance. The suspension and brakes
        they have been designed to guarantee optimal grip and powerful braking, allowing the rider to push hard at every corner.
        In summary, the Honda RC213V Racing is much more than a simple racing bike: it is a racing war machine, ready to take its rider to
        victory in every competition. It is the embodiment of Honda's passion, technology and commitment to the world of motorcycle racing.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Honda</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">SetUp</th>
                    <td>Honda RC213V racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>240 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Kawasaki Ninja zx10r*@
<div>
    <h5>Kawasaki Ninja zx10r</h5>
    <div class="image">
        <img src="/bikes/Kawasaki Ninja zx10r.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Kawasaki Ninja ZX10R is a superbike of pure power and performance, designed to bring the thrill of street racing.
        With its combination of advanced technology and aggressive design, this motorcycle embodies Kawasaki's world-winning legacy
        of track competitions. Its design is characterized by sharp and dynamic lines, with an aerodynamic fairing that
        it captures attention and suggests unstoppable speed. Every aspect has been optimized to maximize efficiency
        aerodynamics and stability at high speed, guaranteeing the rider a feeling of total control in all conditions.
        Under the hood, the Ninja ZX10R houses a high-performance racing engine, capable of delivering explosive power and
        impressive couple. Power delivery is linear and controllable, offering the rider constant thrust in every phase
        of acceleration. The lightweight and agile chassis offers exceptional handling, allowing the rider to tackle corners
        with safety and precision. Adjustable suspension and high-performance brakes complete the package, ensuring a smooth ride
        fluid and reactive on every type of route. The cockpit of the Ninja ZX10R is a refuge for the rider, with an ergonomic layout and a
        advanced instrumentation that offers immediate feedback on the performance of the bike. Every detail has been planned
        to maximize comfort and control, allowing the rider to concentrate exclusively on riding. In short, Kawasaki
        Ninja ZX10R is much more than just a racing bike: it is an icon of performance and style in the world of superbikes, ready to offer
        an exciting and engaging driving experience for every motorcycling enthusiast.
    </div>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">SetUp</th>
                    <td>Kawasaki Ninja zx10r</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2019</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Displacement</th>
                    <td>Column content</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>203 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>207 kg</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Price</th>
                    <td>€21.590</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>998 cc</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Distribution</th>
                    <td>DOHC 16 per valves</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*kawasaki xr10r*@
<div>
    <h5>kawasaki xr10r</h5>
    <div class="image">
        <img src="/bikes/kawasaki xr10r.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Kawasaki ZX-10R is a high-performance superbike that embodies the essence of agility and brutal power. With his
        aggressive design and advanced technology, this motorcycle was designed to dominate track competitions and offer
        Exciting driving experience on the road. Its design features sharp lines and an aerodynamic fairing that
        it captures attention and suggests impressive speed. Every aspect has been optimized to maximize efficiency
        aerodynamics and ensure impeccable stability at high speeds. Under the hood, the ZX-10R houses an advanced racing engine
        high performance, designed to deliver explosive power and impressive torque. Power delivery is linear
        and controllable, offering the rider a constant boost in every phase of acceleration. The lightweight and agile chassis offers a
        exceptional handling, allowing the rider to tackle corners with confidence and precision. Adjustable suspensions
        and high-performance brakes complete the package, ensuring a smooth and responsive ride on any type of trail.
        The cockpit of the ZX-10R has been designed with attention to detail, offering the pilot a total control environment. There
        Advanced instrumentation provides crucial information on the bike's performance, allowing the rider to optimize their own
        drives at every turn. In summary, the Kawasaki ZX-10R is a superbike that combines power, agility and cutting-edge technology to
        offer an exciting and engaging driving experience to anyone who has the privilege of riding on it.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Kawasaki</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">SetUp</th>
                    <td>kawasaki xr10r</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2024</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportiva</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>203 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>207Kg</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Price</th>
                    <td>€21.590</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>998 cc</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">StartUp</th>
                    <td>Electric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*KTM-RC16*@
<div>
    <h5>KTM-RC16</h5>
    <div class="image">
        <img src="/bikes/KTM-RC16.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The KTM RC16 is a high-performance competition motorcycle designed to dominate the tracks of the MotoGP world championship.
        The result of advanced engineering and experience accumulated on the most challenging circuits in the world, this bike embodies
        KTM's commitment to excellence in two-wheel racing. Its design is a testament to KTM's determination to
        push the limits, with an aerodynamic fairing that challenges the air with aggression and precision. Every detail is
        It has been optimized to maximize aerodynamic efficiency and high-speed stability, ensuring superior performance
        on every track. Under the hood, the RC16 houses a high-tech racing engine, designed to deliver powerful power
        explosive and an impressive couple. Power delivery is linear and controllable, offering the rider constant thrust
        in every phase of acceleration. The lightweight and agile chassis offers exceptional handling, allowing the rider to
        tackle curves with safety and precision. Adjustable suspension and high-performance brakes complete the package,
        guaranteeing a smooth and reactive ride on any type of route. The cockpit of the RC16 is a total control environment for the
        rider, with advanced instrumentation and intuitive controls that allow perfect harmony with the bike. Every detail
        it was designed to maximize comfort and control, allowing the rider to focus solely on riding.
        In summary, the KTM RC16 is much more than just a racing bike: it is a technological work of art and a symbol of prestige in the world
        of two-wheel competitions, ready to take its rider to victory in every race. 
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>KTM</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>KTM</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">SetUp</th>
                    <td>KTM-RC16</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2016</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportiva</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Displacement</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>265 cv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Price</th>
                    <td>-</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>1000 cc</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">StartUp</th>
                    <td>computerized CDI</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>-</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Distribution</th>
                    <td>DOHC 4 valves per cylinder</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>  <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*MvAugustaf4 racing*@
<div>
    <h5>MvAugustaf4 racing</h5>
    <div class="image">
        <img src="/bikes/MvAugustaf4 racing.jpeg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The MV Agusta F4 Racing is a work of art on two wheels, a symbol of prestige and power in the world of motorcycle racing.
        Designed and built with careful craftsmanship, this motorcycle embodies MV Agusta's winning legacy and passion for excellence
        technological and stylistic. Its design is a combination of elegance and aggressiveness, with an aerodynamic fairing that enchants it
        look and suggests unstoppable speed. Every curve and every detail has been shaped to maximize efficiency
        aerodynamics and ensure impeccable stability at high speeds. Under the hood, the F4 Racing houses a high-performance engine
        performance, designed to deliver explosive power and impressive torque. Power delivery is linear and
        controllable, offering the rider constant thrust in every riding situation. The frame was designed to offer a
        exceptional handling and superior stability, allowing the rider to tackle corners with confidence and precision.
        Adjustable suspension and high-performance brakes complete the package, ensuring a smooth and responsive ride on every
        type of route. The F4 Racing cockpit is a total control environment for the driver, with advanced instrumentation and
        an ergonomic layout that allows perfect harmony with the motorbike. Every detail has been thought of to maximize comfort
        and control, allowing the rider to concentrate fully on driving. In summary, the MV Agusta F4 Racing is a motorcycle
        dream that exceeds expectations, combining world-class performance with breathtaking aesthetics. It's a driving experience
        unique and engaging, ready to bring its driver to success in every competition.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Mv</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Mv</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">SetUp</th>
                    <td>MvAugustaf4 racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2019-2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Displacement</th>
                    <td>998 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>212 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>183 kg</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Price</th>
                    <td>€40.900</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Trasversal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>Multidisc</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Distribution</th>
                    <td>Double-tree</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Suzuki GSX-R1000 Racing*@
<div>
    <h5>Suzuki GSX-R1000 Racing</h5>
    <div class="image">
        <img src="/bikes/Suzuki GSX-R1000 Racing.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Suzuki GSX-R1000 Racing is a superbike born to dominate circuits around the world, an icon of power and performance
        in the world of motorcycle racing. Designed and developed with the experience gained in the most demanding competitions,
        this bike embodies the essence of speed and handling. Its design is a mix of form and function, with a
        aggressive fairing that enchants the eye and suggests unstoppable speed. Every detail has been optimized for
        maximize aerodynamic efficiency and ensure impeccable stability at high speeds, allowing the rider to
        push to the maximum without compromise. Under the hood, the GSX-R1000 Racing houses a high-performance, engineered engine
        to deliver explosive power and immediate throttle response. Power delivery is linear and controllable,
        allowing the rider to precisely manage every driving situation. The light and agile chassis offers easy handling
        exceptional, allowing the rider to tackle curves with safety and precision. The adjustable suspension and brakes
        high performance completes the package, guaranteeing a smooth and reactive ride on any type of route. The cockpit of the
        GSX-R1000 Racing is a total control environment for the rider, with advanced instrumentation and an ergonomic layout that
        allows perfect harmony with the motorbike. Every detail has been designed to maximize comfort and control,
        allowing the rider to concentrate exclusively on driving. In summary, the Suzuki GSX-R1000 Racing is much more than one
        simple racing bike: it is a racing war machine, ready to take its rider to victory in every competition.
        It is the embodiment of Suzuki's passion, technology and commitment to the world of motorcycle racing.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Suzuki</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Suzuki</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">SetUp</th>
                    <td>Suzuki GSX-R1000 Racing</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2019-2020</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Displacement</th>
                    <td>999,8 cc</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>202 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>203 kg</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Price</th>
                    <td>€19.290</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Trasversal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>Multidisc</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Distribution</th>
                    <td>Double-tree</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>      @*banda rossa divisionale*@
</div>  <br>
@*Yamaha YZR-M1*@
<div>
    <h5>Yamaha YZR-M1</h5>
    <div class="image">
        <img src="/bikes/Yamaha YZR-M1.jpg"  width="1116" height="600">
    </div>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Details
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        The Yamaha YZR-M1 is a racing motorcycle that embodies the pinnacle of motorcycle engineering and racing prestige in the
        MotoGP world championship. Designed and developed with experience gained on the most challenging circuits in the world, this motorcycle is
        synonymous with power, agility and cutting-edge technology. Its design is a combination of elegance and aggressiveness, with a
        aerodynamic fairing that enchants the gaze and suggests unstoppable speed. Every detail has been optimized for
        maximize aerodynamic efficiency and ensure impeccable stability at high speeds, allowing the rider to push
        at most without compromise. Under the hood, the YZR-M1 houses a high-performance engine, designed to deliver power
        explosive and an immediate response to the accelerator. Power delivery is linear and controllable, allowing the rider to
        manage every driving situation with precision. The lightweight and agile chassis offers exceptional handling, allowing the
        driver to tackle curves with safety and precision. Adjustable suspension and high-performance brakes complete the
        package, ensuring a smooth and responsive ride on any type of route. The cockpit of the YZR-M1 is a control environment
        total for the rider, with advanced instrumentation and an ergonomic layout that allows perfect harmony with the bike. Everything is fine
        detail has been designed to maximize comfort and control, allowing the rider to concentrate exclusively
        on the guide. In summary, the Yamaha YZR-M1 is much more than a simple racing bike: it is an icon of world championship racing,
        ready to lead its driver to victory in every race. It is the embodiment of passion, technology and commitment of
        Yamaha in the world of motorcycle racing.
    </div>  <br>
    <table class="table table-hover">
                <tr class="table-active">
                    <th scope="row">Brand</th>
                    <td>Yamaha</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Model</th>
                    <td>Yamaha</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">SetUp</th>
                    <td>Yamaha YZR-M1</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">ProductionYear</th>
                    <td>2011</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Category</th>
                    <td>Super Sportive</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Displacement</th>
                    <td>?</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Power</th>
                    <td>200 CV</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Weight</th>
                    <td>157kg</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Price</th>
                    <td>?</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Strokes</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Cylinders</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">CylindersConfiguration</th>
                    <td>Inline</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">CylinderDisposition</th>
                    <td>Trasversal</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">Refrigeration</th>
                    <td>Liquid</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">StartUp</th>
                    <td>Eletric</td>
                </tr>
                <tr class="table-active">
                    <th scope="row">Clutch</th>
                    <td>4</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">ValvesNumber</th>
                    <td>4</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">Distribution</th>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="align-items: center; background-color: rgba(57, 57, 57, 0.634); text-align : center; color: white; border-radius: 10px">
        <div>
            <h5><strong>Purchase</strong></h5>
        </div>
        <div>
            <label>Hours:</label>
            <br>
            <input type="number" placeholder="1">
            <hr>
            <label>Price:</label>
            <p id="price" aria-placeholder="200€"></p>
            <button type="button" class="btn btn-success">Choose</button>
            <br>
            <br>
        </div>
    </div>
</div>
</div>