@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <header>
<h4>Privacy Policy</h4>

<p>This Privacy Policy describes how Benedetto's Bikes collects, uses and protects the information that you give us when you use our website and our related services.</p>

<h5>Collection of information</h5>
<p>We collect the following types of personal information when you use our website and services:</p>
<ol>
<li><strong>Information You Voluntarily Provide:</strong> When you register for an account, book a rental, or interact with our site, we may collect personal information such as your first name, last name, email address, and contact information. payment.</li>
<li><strong>Information collected automatically:</strong> We use technologies such as cookies to automatically collect information about your device and your activities on our website.</li>
</ol>

<<h5>Use of information</h5>
<p>We use the personal information collected for the following purposes:</p>
<ol>
<li><strong>Providing our services:</strong> We use your information to manage your rentals, process payments and provide you with customer support.</li>
<li><strong>Communications:</strong> We may use your information to send you communications regarding your rentals, updates on our services, or special promotions.</li>
<li><strong>Customization of experience:</strong> We use the information collected to personalize and improve your experience on our website by showing you relevant content and offers.</li>
</ol>

<h5>Information sharing</h5>
<p>We do not share your personal information with third parties, except in the following cases:</p>
<ol>
<li><strong>Service Partners:</strong> We may share your information with third parties who provide services on our behalf, such as payment processors or shipping providers.</li>
<li><strong>Legal Compliance:</strong> We may disclose your personal information if required to do so by law or in the good faith belief that such action is necessary to comply with legal process or to protect the rights, property or safety of [Your Company Name] or others.</li>
</ol>

<h5>Protection of information</h5>
<p>We take appropriate security measures to protect your personal information from unauthorized access, modification or disclosure. However, we cannot guarantee the absolute security of information transmitted via the Internet.</p>

<h5>Changes to the privacy policy</h5>
<p>We reserve the right to update this Privacy Policy from time to time to reflect changes in our information collection and management practices. We encourage you to review this page regularly to stay informed about how we are protecting your information.</p>

<h5>Contact us</h5>
<p>If you have any questions or concerns about this Privacy Policy, please contact us at BenedettosBikes@gmail,com or using the contact information on our website.</p>

<p>Last update: 11/04/2024</p>
</div>